.contact-form {
    width: 380px;
    margin: 0 auto;
    height: 412px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #0ed7e6;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 24px;
  }
  
  label {
    font-weight: bold;
    margin-right: 14px;
    font-size: 19px;
  }
  
  .input-field,
  .message-field {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  .contact-form button{
    width: 167px;
    height: 37px;
    border: none;
  }